@{
    ViewBag.Title = "Interactive Bindings";
}
<h2>@ViewBag.Title.</h2>

<form action="#" method="post">
  
    <input id="Text1" type="text" />
    <input id="Submit1" type="submit" value="submit" />

</form>
