@{
    ViewBag.Title = "Home Page";
}



<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>

        </tr>
    </thead>
    <tbody data-bind='foreach: shoppingCart'>
        <tr>
            <td data-bind='text: name'></td>
            <td data-bind='text: price'></td>
            <td>
                <!-- Add a list of tags. -->
                <ul data-bind="foreach: tags">
                    <li>
                        <span data-bind="text: $parent.name"></span> - <span data-bind="text: $data"></span>
                    </li>
                </ul>
            </td>
            <td data-bind='text: $index'></td>
            <td data-bind='if: discount() > 0' style='color: red'> You saved <span data-bind='text: formattedDiscount'></span>!!! </td>
            <td><button data-bind='click: $root.removeProduct'>Remove</button></td>
        </tr>
    </tbody>
</table>

